In [1]:
# Data Science Tools and Techniques

In [8]:
## Introduction
#This notebook explores foundational elements of data science, including popular languages, libraries, and tools used in the field. It also includes practical examples of arithmetic operations and time conversions to demonstrate basic coding skills in a Jupyter notebook environment.

In [9]:
## Data Science Languages
#Here are some of the most widely used programming languages in data science:
#- Python
#- R
#- SQL
#- Julia
#- Scala

In [10]:
## Data Science Libraries
#- Pandas (Python) - Data manipulation and analysis
#- NumPy (Python) - Numerical computing
#- Scikit-learn (Python) - Machine learning
#- ggplot2 (R) - Data visualization
#- TensorFlow (Python) - Deep learning

In [11]:
## Data Science Tools
#| Tool             | Purpose                     |
#|------------------|-----------------------------|
#| Jupyter Notebook | Interactive coding          |
#| RStudio          | R programming environment   |
#| Apache Spark     | Big data processing         |
#| Tableau          | Data visualization          |
#| Watson Studio    | Integrated data science platform |

In [12]:
## Arithmetic Expression Examples
#In the following sections, we will demonstrate basic arithmetic operations such as multiplication and addition using code cells.

In [7]:
# Multiply and add numbers
a = 5
b = 3
result = (a * b) + 2
print(f"Result of ({a} * {b}) + 2 = {result}")

Result of (5 * 3) + 2 = 17

In [13]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours")

120 minutes is equal to 2.0 hours

In [14]:
## Objectives
#The objectives of this notebook are:
#- To demonstrate proficiency in creating Markdown cells in Jupyter Notebook
#- To list key data science languages, libraries, and tools
#- To perform basic arithmetic operations and conversions using Python code
#- To share the notebook publicly via GitHub

In [ ]:
## Author
#This notebook was created by [Nguyễn Trung Tuyến].